canvas {
	border: 3px solid white;
	border-radius: 4px;
}
body {
	background-color: #1976D2;
	color: #FFFFFF;
	font-family: 'Futura', Helvetica, sans-serif;
	font-weight:bold;
	text-transform: uppercase;
	font-size: 15px;
}
div#top-menu {

	margin:auto;
	margin-bottom: 20px;

}
div#container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
div#top-menu h1 {
	background-color: #FFEB3B;
	color:#1976D2;
	width:300px;
	margin:auto;
	margin-bottom: 30px;
}
input,select {
	text-transform: uppercase;
	font-size: 15px;
	border-radius: 4px;
	border: 3px solid white;
	background: transparent;
	color:#FFFFFF;
	font-family: 'Futura', Helvetica, sans-serif;
	margin:4px;
}
input#start { 
	background-color: #f84783;}
	#score {
		border:none;
		width:40px;
		margin:4px;
		margin-left: 10px;
		margin-top: -4px
	}
	#score-board {
		margin-left: 20px;
	}
	#lives {
		color: #FFEB3B;
	}
	select {
		background-color: #009688;
	}

	input#submit {
		background-color: #00BCD4;
	}

	#canvas-container {
		width:100%;
		margin: auto;
	}
	#retry {
		font-size: 25px;
		background-color: #f84783;

	}
	#all-gifs-page {
		display:none;
	}
	#continue {
		font-size: 25px;
		background-color: #009688;

	}
	div#canvas-container h1 {
		font-size: 5em;
		vertical-align: middle;
	}
	input#random {
		background-color: #f84783;
	}
	#prompt { display:none;}
 div.zoomIn input { }
 div#prompt h2 { 
 	font-size:40px;}
 	div#prompt input { 
 		font-size: 25px;
 		 	-vendor-animation-duration: 2s;
 	}
 div#prompt {
 	margin-top:25%;
 }
 div#prompt h1 {
 	background-color: #FFEB3B;
 	color:#1976D2;
 	
 }
 #all-gifs {
 	font-size: 25px;
 	background-color: #f84783;
 }
 #gif-text {
 	margin:0;
 	font-size: 25px;
 	margin-bottom: 20px;
 }
 footer {
 	margin-top: 10%;
 }
 footer a {
 	text-decoration: none;
 	color:white;
 }
 footer a:hover{
 	color:yellow;
 }